.card {
    display: inline-block;
    position: relative;
    overflow: hidden;
    
    perspective: 1000;
    -webkit-perspective: 1000;
}

.field-span{
    font-size: 1rem;
}

.field-btn{
    font-family: Microsoft JhengHei;
    position: absolute;
    margin: auto;
    width:230px;
    top:20%;
    left:5px;
    background-color: #ff4757;
    font-size: 2rem;
    outline: none;
    border: 0;
    cursor: pointer;
    color : rgba(255,255,255);
    font-weight: 700;
    text-align: center;
}

.field-front{
    transform: rotateY(-180deg) !important
}
.field-back{
    transform: rotateY(0deg) !important
}

.rotate-180{
    transform: rotateY(-180deg)
}
.rotate180{
    transform: rotateY(180deg)
}

.card-front {
    transition: all .5s;
    backface-visibility: hidden;
    overflow: hidden;
}
.card-back {
    backface-visibility: hidden;
    transition: all .5s;
    overflow: hidden;
}
.tag {
    max-width: 230px;
    text-decoration: none;
    font-size: 1rem;
    font-family: Microsoft JhengHei;
    font-weight: 500;
    cursor: default;
    overflow: hidden;
    overflow-y: auto;

    border-radius: 9px;
    border: 1px solid #34353b; 
    background: #43464e;
    position: absolute;
    top:3px;
    left: 4px;
    box-sizing: border-box;
    padding:3px 2px 2px 3px;
}
.tagspan {
    display: inline-block;
    border: 2px solid yellow;
    padding: 3px;
    color:white;
    font-weight: 400;
    margin:1px;
    border-radius: 1px;
}

.load {
    position: fixed;
    top: 40px;
    left: 40px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    font-size: 20px;
}

.imgSize {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.filter{
    position: fixed;
    bottom:10%;
    right:5%;
    width:200px;
}

.loader {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    border: 6px solid #bdc3c7;
    border-bottom-color: #1abc9c;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: coloredspin 4s linear infinite;
}

@keyframes coloredspin {
    0% {
        transform: rotate(0deg) scale(1);
    }
    25% {
        border-bottom-color: #2ecc71;
        border-top-color: #2ecc71;
    }
    50% {
        transform: rotate(360deg) scale(1.1);
        border-bottom-color: #3498db;
        border-top-color: #3498db;
    }
    75% {
        border-bottom-color: #9d59b6;
        border-top-color: #9d59b6;
    }
    100% {
        transform: rotate(720deg) scale(1);
    }
}
